numpy==1.22.3
tensorflow==2.8.0
keras==2.3.1
matplotlib==3.3.0
pandas==1.0.3
scikit-image==0.16.2
scikit-learn==0.24.2
scipy==1.3.1
tensorflow==2.9.1
tensorflow-probability==0.8.0
tensorflow-datasets==0.7.0
tensorflow-hub==0.7.0
searborn==0.9.0
plotly==4.5.0
plotly-express==0.7.0
plotly-graphs==2.0.0
plotly-dash==1.0.0
plotly-dash-renderer==0.6.0
plotly-dash-core-components==1.0.0
plotly-dash-table==1.0.0
plotly-dash-colorscales==1.0.0
plotly-dash-renderer-plotly==1.0.0
beautifulsoup4==4.8.2
catboost==0.20.0
pandas-gbq==0.6.0
xgboost==0.81
adaboost==1.1.0
lightgbm==2.2.2
lightgbm-sklearn==0.4.0
lightgbm-gpu==0.4.0
lightgbm-sklearn-gpu==0.4.0

